* CSS Document */
* {
	background-color: #F5E6D5;
}

* {
	max-width: 1200px;
}

nav {
    width: 100%;
    margin: 20px 0; 
}
    /* Make the list of links take up the whole width of the nav */
nav ul {
    width: 100%; 
}
  
nav ul li a {
	display: inline-block;
    width: 100%; 
}

nav ul li {
    width: 33%; 
	float: above;
    display: inline-block; 
	text-align: center;
}



nav ul li a {
    padding: 8px 0;
    display: inline-block;
    width: 100%;
	border: 1px solid black;
	background: #CC0000; /* Old browsers */
    background: -webkit-linear-gradient(#ff3019 0%, #CC0000 100%);
    background: -o-linear-gradient(#ff3019 0%, #CC0000 100%);
    background: linear-gradient(#ff3019 0%, #CC0000 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#CC0000',GradientType=0 ); /* IE6-9 */
	color: #F5E6D5
      }

nav ul li a:hover {
    background: #F5E6D5; /* Old browsers */
    background: -moz-linear-gradient(top, #F5E6D5 0%, #F5E6D5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5E6D5), color-stop(100%,#F5E6D5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F5E6D5 0%,#F5E6D5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F5E6D5 0%,#F5E6D5 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #F5E6D5 0%,#F5E6D5 100%); /* W3C standard, IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( 
        startColorstr='#F5E6D5', 
        endColorstr='#F5E6D5',GradientType=0 ); /* IE6-9 */
	color: black;
	
}

nav ul li:first-child a {
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }
nav ul li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    }

.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}

.authorbutton {
	background-color: #CC0000;
	border: 2px solid black;
	border-radius: 2px;
	color: #F5E6D5;
	text-align: center;
	font-size:18px;
	margin-top: 2px;
	margin-right: 2px;	
}


div1 { 
	
	border: 2px solid #000000;
	width: 25%;
	
	
}

div2 {

	border: 2px solid #000000;
	width: 50%;
	font-size: 1em;
	text-align: center;
	
	
	
	
}

div3 {
	
	border: 2px solid #000000;
	width: 25%;
	display:inline-block;
	
.linkdetails {
    width:180px;
    color:#FFF;
    padding:20px;
}

.detailscontainer {
    width:220px;
    height:100%;
    display:block;
    float:right;
    background-color:#111;
    z-index:2;
    position:absolute;
    border-right:#222 1px solid;
    color:#FFF;
    top:0px;
    right:0px;
}
